<%-include ('partials/_header.ejs')%>
<hr>
<div class="container">
    <div class="col-md-4">
        <div class="card">
           <div class="card-body bg-dark">
            <form action="/update/<%= data.id%>" method="post" class="bg-dark">
                <div class="form-group row mt-2">
                    <input type="text" name="platillo" value="<%= data.platillo%>" class="form-control">
                </div>
                <div class="form-group row mt-2">
                    <input type="text" name="precio" value="<%= data.precio%>" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Editar platillo</button>
    
            </form>
           </div>
        </div>
    </div>
</div>
<%-include ('partials/_footer.ejs') %>